*~
.DS_Store
.svn
.cvs
*.bak
*.swp
.ftpquota
Thumbs.db
coders/error_log
coders/wp-config.php
coders/wp-content/blogs.dir/
coders/wp-content/upgrade/
coders/wp-content/backup-db/
coders/wp-content/advanced-cache.php
coders/wp-content/wp-cache-config.php
coders/wp-content/cache/*
coders/wp-content/cache/supercache/*
coders/wp-content/cache/
coders/wp-content/backups/
coders/wp-content/plugins/wp-brigade-widgets/
*.log
sitemap.xml
sitemap.xml.gz
